In [ ]:
# Estabelecendo a conexão
import  mysql.connector  
mysqldb = mysql.connector.connect (host = "localhost" , user = "root" , password = " ", database = "Projeto_BD")

In [ ]:
# Create
mycursor=mysqldb.cursor()
mycursor.execute("create table aluno (Cod_aluno INT, nome VARCHAR (255),  sobrenome VARCHAR (255), internet_em_casa VARCHAR (45), série VARCHAR (45), turma VARCHAR (45))" )
mysqldb.close ()

In [ ]:
# Insert
mycursor=mysqldb.cursor()
try:  
   mycursor.execute("insert into aluno values(1240, 'Davi', 'Martinez', 'sim', '3°', 'A')
   mysqldb.commit ()   
   print('Registro inserido com sucesso ...')   
except:  
 mysqldb.rollback ()  
mysqldb.close ()

In [ ]:
# Read
mycursor=mysqldb.cursor()
try:  
   mycursor.execute("select * from alunos")
   result=mycursor.fetchall() 
   for i in result:    
      Cod_aluno = i [ 0 ]  
      Nome = i [ 1 ]  
      Sobrenome = i [ 2 ]  
      Internet_em_casa = i [ 3 ]
      Série = i [ 4 ]
      Turma = i [ 5 ]
      print(Cod_aluno, nome, sobrenome, internet_em_casa, série, turma)  
except:   
   print('Erro: Não foi possível buscar dados.')  
mysqldb.close()

In [ ]:
#Update
mycursor=mysqldb.cursor()
try:  
   mycursor.execute("UPDATE aluno SET nome='Claudio', internet_em_casa='não' WHERE Cod_aluno=1240")
   mysqldb.commit()
   print('Registro atualizado com sucesso ...')   
except:   
   mysqldb.rollback()  
mysqldb.close()

In [ ]:
# Delete
mycursor=mysqldb.cursor()   
try:   
   mycursor.execute("DELETE FROM aluno WHERE Cod_aluno = 1240")   
   mysqldb.commit() 
   print('Registro detectado com sucesso ...')  
except:  
   mysqldb.rollback()  
mysqldb.close()